{% extends "Books/base.html" %}
  {% block content %}

<h4><a class = 'text-center alert alert-primary float-right' href = " {% url 'books:book_create_view' %}"> Add New Book</a></h4>
 <h4 class="text-center alert alert-primary col-sm-7">Book List</h4>
    <br>

    <table class="table table-hover col-sm-7">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">AUTHOR</th>
            </tr>
        </thead>
        <tbody>
            {% for i in books_list%}
            <tr>
            <th scope="row">{{i.id}}</th>
            <td><a href = "{{i.get_absolute_url}}">{{i.name}}<br></a></td>
            <td>{{i.author}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

        {% comment %}
        <hr>
        {% for i in books_list%}
        <a href = "{{i.get_absolute_url}}">{{i.name}}<br></a>
        {% endfor %}
        <br> {% endcomment %}

{% endblock %}