{% extends "Books/base.html" %}
  {% block content %}

<h4 class="text-center alert alert-primary">Return Book</h4>
<br><br>
<form method = POST> {% csrf_token %}
<div class="d-flex justify-content-center offset-2 col-sm-8">
 <div class="input-group mb-3">
    <div class="input-group-prepend">
    <label class="input-group-text" for="user_select">Select User</label>
    </div>
    <select id = "user_select" class="custom-select custom-select-lg" name = 'users_pk'>
      <option selected> </option>
      {% for user in users_list  %}
        <option value = {{user.pk}}>{{user.name}}
      {% endfor %}
    </select>
  </div>
  </div>
  <br><br>
  <div class="d-flex justify-content-center">
  <button type="submit" class="btn-lg btn-primary">Choose Book to return</button>
  </div>
  </form>

{% endblock %}
