{% extends "Books/base.html" %}
  {% block content %}
<h4><a class = 'text-center alert alert-primary float-right' href = " {% url 'books:user_create_view' %}"> Create New User</a></h4>
 <h4 class="text-center alert alert-primary col-sm-7">User List</h4>
    <br>

    <table class="table table-hover col-sm-7">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">No. of books taken</th>
            </tr>
        </thead>
        <tbody>
            {% for i in user%}
            <tr>
            <th scope="row">{{i.id}}</th>
            <td><a href = "{{i.get_absolute_url}}">{{i.name}}<br></a></td>
            <td>{{i.no_of_books_taken}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

  {% comment %} <h4><a class = 'float-right' href = " {% url 'books:user_create_view' %}"> create new User </a></h4>
  <h3>User List:</h3>

  <hr>

  {% for i in user%}
  <li><a href = "{{i.get_absolute_url}}">{{i.name}}</li><br>
  {% endfor %}

  <br> {% endcomment %}

{% endblock %}
